@model IList<YoungsDrumStore.Models.CymbalPO>
@using YoungsDrumStore.Models

@{
    ViewBag.Title = "BrowseCymbals";
}

<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="pull-left">
                    Browse Cymbals
                </h1>
                <img id="logoimg" class="pull-right" src="~/WebsiteImages/WebsiteDrumLogo.gif" />
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("AddCymbalToCart", "Store", FormMethod.Post))
{
    for (var i = 0; i < Model.Count; i++)
    {
        @Html.HiddenFor(x => Model[i].CymbalQuantity)
        @Html.HiddenFor(x => Model[i].CymbalID)
        <div class="BrowseProduct">
            <div class="ProductTitle">
                <h2>@Model[i].BrandName @Model[i].CymbalName</h2>
            </div>
            <div class="BrowseImg">
                <img class="BrowseImg" src="@Model[i].CymbalImgURL" />
            </div>
            <div class="ProductPrice&Quantity">
                <h3>
                    Price: $@Model[i].CymbalPrice
                </h3>
                    @if (Model[i].CymbalQuantity > 0)
                    {
                        <div>
                            <label>Quantity to add:</label>
                            @Html.TextBoxFor(x => Model[i].CheckoutQty, new { @class = "form-control input-sm", style = "width:40px;" })
                            <input class="btn btn-warning" type="submit" value="Add To Cart" />
                        </div>
                    }
                

                @if (Model[i].CymbalQuantity > 0)
                {
                    <h4 id="InStock">&#10004; In Stock!</h4>
                }
                else
                {
                    <h4 id="OutOfStock">&#10008; Out of Stock</h4>
                }
            </div>
            <div class="BrowseDescription">
                <text><h4>Descripton: </h4>@Model[i].CymbalDescription</text>
            </div>
        </div>
    }
}
<style>
    .BrowseImg {
        height: 300px;
        width: 55%;
        float: left;
    }

    .BrowseDescription {
    }

    .BrowseProduct {
        padding-bottom: 10%;
        height: auto;
    }

    .ProductPrice&Quantity {
        display: inline-block;
        float: right;
    }

    #InStock {
        color: darkgreen;
    }

    #OutOfStock {
        color: darkred;
    }
</style>
